<div class="bank-info" data-id="<%= _id %>">
  <div class="bank-attr"><%= phone %></div>
  <div class="bank-attr">Hours: <%= hours %></div>
  <div class="bank-attr">Minimum Balance: <%= mb %></div>
  <div class="bank-attr"><%= notes %></div>
</div>
