<div class="bank-row" data-id="<%= _id %>">
  <span><%= name %></span> |
  <span><%= address %></span>
</div>

<div class="bank-info" data-id="<%= _id %>">
  <% if (phone) { %>
    <div class="bank-attr-name">Phone</div>
    <div class="bank-attr"><%= phone %></div>
  <% } %>

  <% if (hours) { %>
    <div class="bank-attr-name">Hours</div>
    <div class="bank-attr"><%= hours %></div>
  <% } %>

  <% if (notes) { %>
    <div class="bank-attr-name">Info</div>
    <div class="bank-attr"><%= notes %></div>
  <% } %>

  <a class="bank-more">more info</a>
</div>
