<div id="bank-row-<%= _id %>" class="bank-row" data-id="<%= _id %>">
  <span><%= name %></span> |
  <span><%= address %></span>
</div>

<div class="bank-info" data-id="<%= _id %>">
  <% if (phone) { %>
    <div class="bank-attr-name">Phone</div>
    <div class="bank-attr"><%= phone %></div>
  <% } %>

  <% if (hours) { %>
    <div class="bank-attr-name">Hours</div>
    <div class="bank-attr"><%= hours %></div>
  <% } %>

  <% if (notes) { %>
    <div class="bank-attr-name">Info</div>
    <div class="bank-attr"><%= notes %></div>
  <% } %>

  <div class="bank-more">
    <div class="bank-more-link"><a>more info</a></div>
    <div class="bank-more-info">
      <div class="bank-attr-name">More Info</div>
      <% if (ssa || ssh) { %>
      This is a SafeStart location. You should be able go here to open an Amalgamated SafeStart Account, but call and ask 
before you go. You need to have an ITIN or a Social Security Card to open an account here. It has no monthly fee 
or minimum balance. You need $5 to open an account. You need a government-issued ID from the US or from another country. 
For more information about SafeStart, <a href="/safestart" target="_blank">click here</a>.
      <% } else { %>
        You need a government-issued ID and a social security number to open this account. There is no minimum balance requirement. You need $1 to open an account.
      <% } %>
      <div class="bank-less-link"><a>less info</a></div>
    </div>
  </div>
</div>
